body {
    background-color: #26465c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 19px;
    color: #134850;
    font-weight: normal;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.subnav {
    font-family: "PT Sans Narrow";
    font-size: 14px;
    color: #ffffff;
    background-color: #143240;
    font-weight: normal;
    text-align: right;
    padding-right: 18px;
    font-variant: normal;
    height: 35px;
}
.header {
    font-family: "PT Sans Narrow";
    font-size: 34px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    line-height: 30px;
    text-align: left;
    padding-bottom: 0px;
}
.subhead {
    font-family: "PT Sans Narrow";
    font-size: 24px;
    color: #ffffff;
}
.bold {
    font-weight: bold;
}
body,td,th {
    color: #26465c;
    vertical-align: middle;
}
.ratesTable {
    background-color: #ffffff;
    padding: 4px;
}
.subhead_blue {
    font-family: "PT Sans Narrow";
    font-size: 26px;
    color: #26465c;
}
.header_2 {
    font-family: "PT Sans Narrow";
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    color: #ffffff;
    text-align: left;
}
a:link {
    color: #ffffff;
    text-decoration: none;
}
.dark {
    color: #f3fcc0;
    text-decoration: none;
}
a:visited {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #f3fcc0;
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.forTable {
    display: block;
}
img {
    border:0px;
}
