{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<table style="width: 750; border: 1;">
<tr>
<td style="position: absolute; left: 50px; width: 800;">
<h2>Drive Technology Smarter.</h2>
<p><b>Brainewave</b> solves the most difficult technology problems with intelligence and competence.</p>
<p>We have experience with many technologies on a variety of platforms delivering: Application Integration, Data Migration and Consolidation, Data Analysis and Reporting, and Software and Database Development for standalone, web, mobile, and intranet.</p>
<p><b>Brainewave</b> provides software and database consulting, planning and development services customized to fit any sized company or startup business.</p><br/>
e: <a href="mailto:info@brainewave.nyc">info@brainewave.nyc</a><br/>
m: +1-530-727-8768<br/>
<br/>
Brainewave Public Key:<br/>
<code>ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAuej/y8X4J3ccqu4DY68Y48Daicc8VuvXW78HJNn9/i50YMzjCiqKGccWesd/4C2G<br/>
vMIceW9XRzZ6x7JQF3hfrKeZUD3Cj4nrqRfa9k/D5mmP0vz+RXxRHc1VwcjRbk4X0WKACu2V07Qn1ETVrn0AhqBeOyykPDwG7ZyT<br/>
TO158D8RBosmIEmjCEUQTX75Q9h3Z2/80BDPnW42wtz5u1JtuBswoWTRts/it+G7uKu5coubqNMM7mM3ronNwdq6yiv0vpAwnfqx<br/>
jqKy6L4zo6HZKvQr3Q/9/3huG4nIF2CZVWj6dZXLMecSZAK24iTAnflbDQNnCvlKyI7yALrzcLoXxw== info@brainewave.nyc</code>
</td>
</tr>
</table>{% endblock %}
