{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<table style="width: 750; border: 1;">
<tr>
<td style="position: absolute; left: 50px; width: 800;">
<h2>Drive Technology Smarter.</h2>
<p><b>Brainewave</b> solves the most difficult technology problems with intelligence and competence.</p>
<p>We have experience with many technologies on a variety of platforms delivering: Application Integration, Data Migration and Consolidation, Data Analysis and Reporting, and Software and Database Development for standalone, web, mobile, and intranet.</p>
<p><b>Brainewave</b> provides software and database consulting, planning and development services customized to fit any sized company or startup business.</p><br/>
e: <a href="mailto:info@brainewave.nyc">info@brainewave.nyc</a><br/>
m: +1-530-727-8768<br/>
<br/>
Brainewave Public Key:<br/>
<code>
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDqhxsr+yXbv9tipvQQjZzNtkocRNemDH5LTH831tdyRpXoGtQIFLzgQsWwdvKxhELoFHlKPvi0SlXU73z77uN9<br/>
kZwhDlrows748bC750HTsiDrTLcAhT/eddPuZ1v7acujq0UatqcTVXj2V7azCFeueq8Xhax43MrEjfQ6bQCZiyLfVK3DO2N+CDhtWl24GE92zBI0tIfS5yQAs8B1<br/>
SrREj/FaVMEWQx6ptcO2xc8lIh18cx6lZJ5QA+WThd+Xc+V2ZbMxl6gjE8PvZZNi8Pz9wI4ueYGJP9Hy33yGZNwmzPGPLXOy5/6eQ+wz3knKIoVCNghmV5Ojvuh0<br/>
mQ+LMKzhMIX7FMnnzJTGe66poSWPdWSOChvWUqX1osO6k4tpxYL0bu7/W2xdtVPC9HfArKBlAxQv+7UDfHaq1U9BpfQ7IPC/dyblsq7fKVZ6VMcUmlyL6Hz1zB7T<br/>
Asx4Ef48xqFBDVSW0OjRDojralz0gDgOEEIWW6wNetQqc2xEdi/GBXOyvj1NOGgOXqc83h0OcNvr3QUegVds9FSvOlVMWd+kLZpCjIBCr0EhEfozlfrqGsR4iL0W<br/>
vOI1ZiyartoZHZpPXQaGpx6Rj640b+Lb9Q9JC1K+2QVFEVZhb11ackbbvZXYhFeFRpa2RIZoqpHhCR+FPFm3fuUdxLD+CUz+WXGZJw== info@brainewave.nyc</code>
</td>
</tr>
</table>{% endblock %}
